@charset "utf-8";
/* CSS Document */
body{
    font-family: 'Poppins', sans-serif;
}

    @font-face {
        font-family: 'FontAwesome';
        src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.eot?v=4.4.0');
        src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'),
             url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'),
             url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'),
             url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'),
             url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
        
    }
    
*,*:focus,*:hover,*:active{
    outline:none!important;
    text-decoration: none!important;
}
.mission-box {
    background: #f7f7f7;
    padding-bottom: 80px;
    padding-top: 80px;
}
.v-img img {
    max-width: 300px;
    margin-bottom: 30px;
}
.v-desc {
    line-height: 26px;
}
.pt-2 {
  padding-top: 70px;
}
.logo{
	transition:all ease-in-out 0.2s;
	width:170px;
	height:auto;
}
.slick-dots li button{
    font-size: 0px!important;
    top: 20px!important;
    background:none;
    border: none;
}
.slick-dots {
    bottom: 45px!important;
}
video {
    width: 100%;
    height: auto;
}
.center{
    text-align: center;
}
.left{
    text-align: left;
}
.black{
    color:#000;
}
.t-right{
    text-align: right!important;
}
.t-left{
    text-align: left!important;
}
.white{
    color:#ffffff!important;
}
.steps-head-1{
    background: url("../images/steps-icon-1.webp") top left no-repeat;
    background-size: contain;
}
.steps-head-2{
    background: url("../images/steps-icon-2.webp") top left no-repeat;
    background-size: contain;
}
.steps-head-3{
    background: url("../images/steps-icon-3.webp") top left no-repeat;
    background-size: contain;
}
.steps-head-1, .steps-head-2, .steps-head-3{
    color:#ed2354!important;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    padding-left: 100px;
    margin-bottom: 40px;
}
.steps-head-1 span, .steps-head-2 span, .steps-head-3 span{
    display: block;
    font-size: 23px;
    color:#000000;
}
.sml-heading{
    color:#000000;
    font-weight: 600;
    font-size: 18px;
    margin-top: 10px;
}
p{
    color:#000;
    font-size: 15px;
    line-height: 23px;
}
.writer-rating ul{
    display: table;
    margin: auto;
    padding-left: 0;
}
.services-subhead{
    font-size: 28px;
    font-weight: 200;
    color:#ed2354;
    padding-bottom: 20px;
    padding-top: 30px;
}
.services-subhead-2{
    font-size: 28px;
    font-weight: 200;
    color:#ed2354;
    padding-bottom: 13px;
    padding-top: 3px;
}

/*------------------ Header CSS ------------------------*/

.top-bar-nw-hd{
    background:#474747;
    padding-top: 10px;
	padding-bottom: 10px;
	color:#fff;
	font-size: 14px;
	font-weight: 400;
}
.top-bar-nw-hd .creds-2{
    padding-left: 40px;
}
.top-bar-nw-hd .creds-2 a{
    color: #fff;
}
.top-bar-nw-hd .creds, .top-bar-nw-hd .creds-2{
    display: inline;
}
.top-bar-nw-hd .right{
    text-align: right;
}
.top-bar-nw-hd .top-social a{
	color: #fff;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
    font-weight: 400;
}
.header-nw{
    background: url("../images/nw-hd-bg2.webp") top center no-repeat;
    padding-top: 20px;
    background-size: cover;
}
.txt-big-nw-hd{
    font-size: 34px;
    font-weight: 600;
    color:#ed2354;
    line-height: 40px;
}
.txt-small-nw-hd{font-size: 16px;
    font-weight: 500;
    color:#fff;
    margin-top: 20px;
}
.btns-rw-nw .btn-course, .btns-rw-nw .btn-learn{
    display: inline;
}
.btn-course-2 a{
    border: 0px;
    background: #ed2354;
    border-radius: 4px;
    color:#FFFFFF;
    font-size: 17px;
    padding: 12px 24px;
}
.btn-course-2 a:hover{
    background: #f84570;
    color:#FFFFFF;
    text-decoration: none;
}
.btns-rw-nw .btn-course a{
    border: 0px;
    background: #ed2354;
    border-radius: 4px;
    color:#FFFFFF;
    font-size: 15px;
    padding: 12px 24px;
}
.btns-rw-nw .btn-course a:hover{
    background: #f84570;
    color:#FFFFFF;
    text-decoration: none;
}
.btns-rw-nw .btn-learn a{
    background:#FFFFFF;
    color:#000000;
    text-align: center;
    border: none;
    font-size: 17px;
    border-radius: 4px;
    padding: 12px 24px;
}
.btns-rw-nw .btn-learn a:hover{
    background: #FFFFFF;
    color:#7d7d7d;
    text-decoration: none;
}
.btns-rw-nw{
    margin-top: 50px;
}
.syotimer {
    text-align: center;
    color: #fff;	
    margin: 30px auto 0;
    padding: 0 0 10px;
    font-size: 30px;
    text-transform: capitalize;
}
.syotimer-cell {
    display: inline-block;
    margin: 0 5px;
    padding: 0px 5px 5px 5px;
}
.syotimer-cell__value {
    font-size: 28px;
    line-height: 30px;
    margin: 0 0 5px;
    font-weight: 700;
}
.syotimer-cell__unit {
    font-size: 11px;
    text-transform: uppercase;
}

@media only screen and (max-width: 450px) {
.p-top-4{
      margin-top: 0!important;
}
    .mob{
        margin-bottom: 40px!important;
    }
.syotimer-cell {
    width: 61px;padding: 0px 10px 7px 10px;
}
.syotimer-cell__value {
    font-size: 30px;
    line-height: 30px;
    margin: 0 0 5px;
}
.syotimer-cell__unit {
    font-size: 11px;
    text-transform: capitalize;
}
}
.hd-form-nm-hd{
    background: #fff;
    padding: 20px 20px 4px 20px;
}
.hd-form-nm-hd-2{
    background: #fff;
    padding: 20px 20px 4px 20px;
    border: 1px solid #ebebeb;
}
.hd-form-nm-hd .form-group input{
    padding: 5px !important;
    font-size: 13px;
    border: 1px solid #ebebeb !important;
    border-radius: 0px !important;
    background: #fff;
    box-shadow: none;
    outline: none;
    color: #000;
    font-weight: 400;
    width: 100%;
    resize: none;
}
.hd-form-nm-hd .select-css{
    padding: 7px 10px;
}
.hd-form-nm-hd label{
    margin-bottom: 2px;
}
label{
    color:#000;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 6px;
    display: block;
}
.form-group input, .form-group textarea, .order-form .form-group input, .order-form .form-group textarea {
  padding: 10px!important;
  font-size: 14px;
  border: 1px solid #ebebeb!important;
    border-radius: 0px!important;
  background: #fff;
    box-shadow: none;
    outline: none;
    color:#000;
    font-weight: 400;
    width: 100%;
    resize: none;
}
.select-css {
    font-size: 14px;
    color: #444;
    line-height: 1.3;
    padding: 11px 10px;
    width: 100%;
    max-width: 100%; 
    margin: 0;
    box-shadow: none;
    border-radius: 0px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('../images/arrow.svg');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    border: 1px solid #ebebeb;
}
.select-css:last-child{
}
.select-css::-ms-expand {
    display: none;
}
.select-css:focus {
    border-color: #eee;
    color: #222; 
    outline: none;
}
.select-css option {
    font-weight:normal;
}
.hd-form .ord-btn{
    margin: 0px 0px auto auto;
}
.row-padding .col-md-2, .row-padding .col-md-10{
    padding-left: 0px;
    padding-right: 0px;
}
.navbar{
    margin-bottom: 12px;
}
.navbar-default{
    background: none;
    border: 0px;
}
.navbar-default .navbar-nav > li > a{
    color:#fff;
    font-size:14px;
	font-weight: 500;
}
.navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:focus{
    color:#fff;
}
.navbar-default .navbar-nav > li > a:hover{
    color:#444;
}
.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.dropdown-menu > li > a{
    padding: 10px 20px;
}
.navbar-default .navbar-nav > li > a:hover{
    background: #ffffff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
    background: #ffffff;
}
.menu-br{
    border-right:1px solid #ebebeb;
    padding-right: 26px;
}
.drop-list{
    padding-left: 0px;
}
.drop-head{
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 30px;
    padding-bottom: 10px;
    font-size: 20px;
    color:#ed2354;
    font-weight: 300;
}
.red-focus-nw-hd{
    background: #ed2354;
}
.logo-2, .social-media-btns-footer-2{
    display: none;
}
.social-media-btns-footer-2{
    margin-top: 10px;
    margin-bottom: 0;
}
.social-media-btns-footer-2 a{
    font-size: 24px;
    margin-right: 18px;
    transition: all ease-in-out 0.2s;
}
.social-media-btns-footer-2 a:hover{
    color:#fff;
    transition: all ease-in-out 0.2s;
}
.m-logo-2{
    display: none;
}
.m-item{
    display: none!important;
}
.calc-now-btn{
    background:#2dc1dd;
    color:#FFFFFF;
    text-align: center;
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    font-size: 17px;
    display: table;
    margin: 10px 0px auto auto;
    width: 100%!important;
}
.sticky {
    position: fixed!important;
    top: 0!important;
    background: #474747;
    z-index: 99999;
    width: 100%;
    padding-top: 12px;
}
.menu-overlay{
    height: 0;
}
.sticky + .content {
    padding-top: 202px;
}
.calc-now-btn:hover{
    background: #51cee6;
    color:#fff;
    text-decoration: none;
}
.hd-form-nm-hd .form-group input, .hd-form-nm-hd .form-group input {
  padding: 7px !important;
  font-size: 13px;
  border: 1px solid #ebebeb !important;
  border-radius: 0px !important;
  background: #e7e7e7;
  box-shadow: none;
  outline: none;
  color: #000;
  font-weight: 400;
  width: 100%;
  resize: none;
}
.top-p-nw{
    margin-top: 0px;
}
.white-bar-bx{
    border: 2px solid #fff;
    padding: 8px 10px 8px 10px;
}
.white-bar-bx ul {
  margin-bottom: 8px;
}
.br-right-nw-hd{
    border-right: 2px solid #fff;
}
.br-right-nw-hd-last{
    border-right: 0;
}
.rev-nw-hd-title{
    color:#2dc1dd;
    font-size: 18px;
    font-weight: 600;
}
.rev-nw-hd-lite{
    color:#fff;
    font-size: 14px;
    font-weight: 300;
}
.rev-nw-hd-rating{
    color: #2dc1dd;
    font-size: 36px;
padding-top: 7px;
padding-left: 14px;
}
.rev-nw-hd-t{
    color:#fff;
}
.rating-nw-hd{
    padding-left: 0;
}
.rating-nw-hd .fa-star, .rating-nw-hd .fa-star-o, .writer-rating .fa-star, .writer-rating .fa-star-o {
  color: #eeb300;
  font-size: 14px;
}
.countdown-nw-hd{
    background: #ef1354;
    color: #fff;
    padding: 4px;
}
#the-final-countdown p {
    color: #FFF!important;
    font-size: 26px;
    text-align: center;
    font-weight: 500;
}
.discount-nw-hd{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 48px;
}
.discount-nw-hd span{
    font-size: 18px;
    font-weight: 400;
    line-height: 0px;
}
.tag-disc-nw-hd{
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 22px;
    margin-top: 17px;
}
.top-p-nw-2{
    padding-top: 30px;
}
.top-bottom-p-nw{
    padding-top: 50px;
    padding-bottom: 80px;
}
.top-p-nw{
    padding-top: 50px;
    padding-bottom: 0;
}
.nw-hd-main-title{
    color: #2dc1dd;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    padding-bottom: 30px;
}
@media (max-width: 768px) {
.top-bottom-p-nw{
    padding-top: 10px;
    padding-bottom: 60px;
}
.top-p-nw-2{
    padding-top: 10px;
}
.white-bar-bx {
    border: 1px solid #fff;
    padding-bottom: 0;
    margin-bottom: 10px;
}
.br-right-nw-hd{
    border-right: 0;
}
.top-bar-nw-hd .creds-2{
    padding-left: 10px;
}
#slide-navbar-collapse {
    position: fixed;
    top: 0;
    left: 0px;
    z-index: 99;
    width: 280px;
    height: 100%;
    background-color: #2dc1dd;
    overflow: auto;
}
.menu-overlay {
    display: none;
    background-color: #000;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    filter: alpha(opacity=50);
    /* IE7 & 8 */
    position: fixed;
    right: 0;
    top: 0;
    z-index: 49;
}
.m-item{
    display: block!important;
}
.m-logo{
    display: none;
}
.m-logo-2{
    display: block;
}
.creds{
    text-align: right;
}
.creds, .creds-2{
    font-size: 13px;
    font-weight: 300;
}
.top-social{
    display: none;
}
.logo-2{
    padding: 30px 20px 10px 0px;
}
.social-media-btns-footer-2{
    display: table;
    margin: auto;
}
.social-media-btns-footer-2 a{
    color:#9aecfc;
}
.navbar-nav .open .dropdown-menu > li > a {
    padding: 5px 15px 5px 30px;
}
.logo-2{
    display: block;
}
.dropdown-menu-large {
    margin-left: 0 ;
    margin-right: 0 ;
}
.dropdown-menu-large > li {
    margin-bottom: 30px;
}
.dropdown-menu-large > li:last-child {
    margin-bottom: 0;
}
.navbar-nav .open .dropdown-menu{
    background: white;
}
.dropdown-menu-large img{
    margin-bottom: 20px;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    padding-left: 30px;
}
.m-menu{
    display: none;
}
.txt-big-nw-hd{
    font-size: 34px;
    text-align: center;
    line-height: normal;
}
.txt-small-nw-hd{
    font-size: 14px;
    text-align: center;
}
.btns-rw-nw{
    display: table;
    margin: 50px auto;
}
.top-p-nw{
    margin-top: 0;
}
.navbar-default {
  min-height: 20px;
}
.hd-form-nm-hd .form-group input, .hd-form-nm-hd .form-group input {
  margin-bottom: 14px;
}
}
.fa-bars{
    color:#fff;
}

/*------------------ Header CSS ------------------------*/

.headline{
    padding-bottom: 70px;
}
.content-container{
	padding-top:90px;
}
.content-container-2{
	padding-top:40px;
}
.pb-1{
    margin-bottom: 80px;
}
.pb-11{
    margin-bottom: 80px;
}
.big-head{
    color:#01c7e2;
    font-size: 34px;
    font-weight: 600;
    text-align: center;
    margin-top: 5px;
}
.sub-head{
    color: #474747;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
h1{
    color:#ed2354;
    font-size: 34px;
    font-weight: 600;
    text-align: left;
    margin-top: 5px;
}

/*--------------- Services Slider --------------------*/

.serv-slider{
    padding-top: 100px;
    padding-bottom: 100px;
}
.nav-tabs{
    border: 0px;
}
.nav-tabs > li > a:hover{
    background: none;
    text-decoration: none!important;
    padding: 25px 107px;
}
.nav-tabs > li > a, .nav-tabs > li > a:actice, .nav-tabs > li > a:focus{
    border: 0px;
    background: none!important;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    background: #ebebeb;
}
.service-block{
    background: #FFF;
    border: 2px solid #e1e1e1;
    padding: 5px;
    border-radius: 100px;
}
.service-block-sub{
    background: #FFF;
    border: 6px solid #e1e1e1;
    padding: 30px;
    border-radius: 100px;
}
.service-block img{
    max-height: 100px;
    max-width: 100px;
    display: table;
    margin: auto;
}
.serv-head{
    color:#ed2354;
    font-size: 14px;
    font-weight: 400px;
    text-align: center;
    margin-top: 10px;
}
.serv-head a:hover, .serv-head a:focus, .serv-head a:active{
    text-decoration: none!important;
}
.service-head{
    color:#f8a427;
    font-size: 33px;
    font-weight: 600;
    margin-bottom: 10px;
}
.tab-content{
    color: #696969;
    margin-top: 30px;
    padding-top: 30px;
    border-top:1px solid #e1e1e1;
}
.tab-content p{
    color:#696969;font-size: 15px;
    line-height: 23px;
}
.tab-content h3{
    color:#ed2354;
}
.tab-content img{
    display: table;
    margin: auto;
}
.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: inline;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.slick-slider ul li{
     float: left;
  cursor: pointer;
  font-size: 30px;
  padding-right: 20px;
}

/*--------------- Services Slider --------------------*/

/*--------------- 2 Column Part --------------------*/

.t-col-sec{
    padding-top: 100px;
    color:#000;
    background: #f9faff;
}
div.ex1 {
    width: 100%;
    height: 600px;
    overflow-y: scroll;
	padding: 14px;
	/*border: dashed;*/
}
.t-col-services{
    padding-top: 100px;
    color:#000;
    background: #01c7e2;
}
.t-col-sec .head-sec{
    color: #ed2354;
    font-size: 22px;
    margin-bottom: 30px;
    background: url("../images/hd-bullet.webp") top left no-repeat;
    padding-left: 50px;
    line-height: 30px;
    text-align:left;
    font-weight: 500;
}
.t-col-sec .head-sec-1{
    color: #ed2354;
    font-size: 22px;
    margin-bottom: 30px;
    background: url("../images/hd-bullet.webp") top left no-repeat;
    padding-left: 50px;
    line-height: 30px;
    font-weight: 500;
    
    width: 90%;
}
.t-col-sec .content-sec{
    color: #8b8b8b;
    font-size: 14px;
    line-height: 23px;
    font-weight: 400;
  
}
.content-sec a{

    color: #ed2354!important;

}
.t-col-sec .t-sec-sep{
    margin-bottom: 50px;
}
.t-col-sec .t-sec-sep-2{
    height: 1px;
    width: 50%;
    display: table;
    margin: 30px auto;
}

/*--------------- 2 Column Part --------------------*/

/*--------------- 3 Column Part --------------------*/

.headline-2{
    padding-bottom: 30px;
}
.three-col p{
    color:#000;
    text-align: center;
    font-size: 15px;
    padding: 5px 10px 10px 10px;
}

/*--------------- 3 Column Part --------------------*/

/*----------- Why Students Trust Us ----------------*/

.trust-cover{
    background: url("../images/trust-bg.webp") center top no-repeat;
    background-size: cover;
}
.sub-head-white{
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.white-box{
    background:#FFFFFF;
    padding: 20px;
    margin-bottom: 40px;
}
.sr-img img{
    display: table;
    max-height: 50px;
    max-width: 50px;
    margin: 20px auto 40px auto;
}
.sr-head{
    font-size: 15px;
    color:#f71d52;
    text-align: center;
    margin-bottom: 20px;
}
.sr-desc{
    color:#000;
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
    min-height: 120px;
}

/*----------- Why Students Trust Us ----------------*/

/*----------- Progressive Counter ----------------*/

.writer-bg img{
    max-height: 750px;
    max-width: auto;
}
.counter-bg{
    background: url("../images/counter-bg.webp") top center no-repeat;
    background-size: cover;
}
.p-3{
    margin-bottom: 40px;
}
.p-3a{
    margin-top: 40px;
}
.p-2{
    padding-top: 64px;
    display: table;
    margin: auto auto 10px auto;
}
.counter-icon{
    padding-top: 10px;
    color:#f46485;
    font-size: 50px;
    text-align: center;
}
.counter-value, .side-kick{
    color: #fff;
    font-size: 40px;
    display: block;
    font-weight: 600;
    display: inline;
}
.count .col-md-4, .count .col-md-8{
    padding-left: 0px;
    padding-right: 0px;
}
.plus{
    color: #fff;
    font-size: 18px;
    display:block;
    font-weight: 600;
}
.br-right-nw-hd-last .col-xs-4{
    padding-left: 0;
}

/*----------- Progressive Counter ----------------*/

.p-img img{
    border: 18px solid #ffffff;
    box-shadow: 5px 10px 18px #dadada;
}

/*-------------- Customer Reviews -----------------*/

.review-bg{
    padding-top: 100px;
    padding-bottom: 100px;
    color:#000;
    background: url("../images/review-bg.webp") bottom center no-repeat;
    /*background-color: #f9faff;*/
}
.red{
    color:#ed2354;
}
.white-box-round, .white-box-round-br{
    background: #FFFFFF;
    padding: 20px;
    border-radius: 6px;
    transition: all ease-in-out 0.2s;
    border: 1px solid #ebebeb;
}
.white-box-round-br{
    box-shadow: 5px 10px 18px #dadada;
    margin-bottom: 40px;
    min-height: 530px;
}
.white-box-round .rating, .white-box-round-br .rating{
	margin: 0px;
	padding: 0px;
}
.white-box-round .rating .fa-star, .white-box-round .rating .fa-star-o, .white-box-round-br .rating .fa-star, .white-box-round-br .rating .fa-star-o{
	color:#eeb300;
	font-size:14px;
}
.white-box-round .review-text, .white-box-round-br .review-text{
    color:#8b8b8b;
    font-size: 16px;
    line-height: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}
.box-img {
    display: table!important;
    margin: auto!important;
}
.box-img img{
    border-radius: 100px;
    max-height: 100px;
    max-width: 100px;
}
.white-box-round .reviewer-name, .white-box-round-br .reviewer-name{
    color:#000000;
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 19px;
    transition: all ease-in-out 0.2s;
}
.white-box-round .reviewer-desc, .white-box-round-br .reviewer-desc{
    color:#000000;
    font-size: 12px;
    font-weight: 400;
    transition: all ease-in-out 0.2s;
}
.white-box-round:hover, .white-box-round-br:hover{
    background: #ed2354;
    color:#ffffff!important;
    transition: all ease-in-out 0.2s;
}
.white-box-round:hover .rating .fa-star, .white-box-round:hover .rating .fa-star-o, .white-box-round-br:hover .rating .fa-star, .white-box-round-br:hover .rating .fa-star-o{
	color:#ffffff!important;
    transition: all ease-in-out 0.2s;
}
.white-box-round:hover .review-text, .white-box-round:hover .reviewer-name, .white-box-round:hover .reviewer-desc, .white-box-round-br:hover .review-text, .white-box-round-br:hover .reviewer-name, .white-box-round-br:hover .reviewer-desc, .white-box-round-br:hover .sml-heading{
    color:#ffffff!important;
    transition: all ease-in-out 0.2s;
}
.p-right-rev{
    padding-right: 260px;
}

/*-------------- Customer Reviews -----------------*/

/*----------------- Our Writers -------------------*/

.writers-home-bg{
    background: url("../images/writer-bg-home.webp") top center no-repeat;
    padding-top: 60px;
    padding-bottom: 60px;
}
.mt-1{
    margin-top: 40px;
}
.box-img-2 {
    display: table!important;
    margin: auto!important;
}
.box-img-2 img{
    border-radius: 100px;
    max-height: 200px;
    max-width: 200px;
  outline: 5px solid #ffffff;
  outline-offset: -15px;
}
.box-img-3 {
    display: table!important;
    margin: auto!important;
}
.box-img-3 img{
    border-radius: 100px;
    max-height: 100px;
    max-width: 100px;
  outline: 4px solid #ffffff;
  outline-offset: -10px;
}
.writer-name{
    color:#ffffff;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
}
.writers-box{
    box-shadow: 5px 10px 18px #dadada;
    margin-bottom: 40px;
    padding: 40px 20px;
    background: #fff;
}
.writers-box .w-name{
    color:#ed2354;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 10px;
}
.writers-box .w-name span{
    color:#000000;
    font-size: 18px;
    display: block;
}
.writers-box-2{
    margin-bottom: 40px;
    padding: 40px 20px;
    background: #fff;
}
.writers-box-2 .w-name{
    color:#ed2354;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 10px;
}
.writers-box-2 .w-name span{
    color:#000000;
    font-size: 18px;
    display: block;
}
.hire-btn a{
    background:#ed2354;
    font-size: 17px;
    font-weight: 600;
    color:#fff;
    padding: 10px 30px;
    display: table;
    margin: auto;
    border-radius: 8px;
    margin-top: 30px;
}
.hire-btn a:hover{
    background:#f84570;
    text-decoration: none;
}
.writer-stats{
    color:#A0A0A0;
    text-align: center;
}
.writer-stats span{
    color:#ed2354;font-weight: 600;
}

/*----------------- Our Writers -------------------*/

/*------------------- FAQs ---------------------*/

.glossymenu{
    margin: 5px 0;
    padding: 0;
    width: 100%;
}
.glossymenu a.menuitem{
    background: #ed2354;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    display: block;
    position: relative;
    width: auto;
    padding: 18px 0;
    padding-left: 18px;
    text-decoration: none;
    margin-bottom: -13px !important;
}
.glossymenu a.menuitem:visited, .glossymenu .menuitem:active{
    color: white;
}
.glossymenu a.menuitem .statusicon{
    position: absolute;
    top: 22px;
    right: 18px;
    border: none;
    max-width: 20px;
    margin-left: 30px;
}
.glossymenu a.menuitem:hover{
    background: #f84570;
}
.glossymenu .submenu{
    background: white;
}
.p-faq{
    padding: 10px 10px 18px 10px;
    font-size: 15px;
}

/*------------------- FAQs ---------------------*/

/*----------- Services Quick Links -------------*/

.services-qlinks{
    background:#faf9ff;
    padding-top: 100px;
    padding-bottom: 100px;
}
.services-qlinks ul{
    padding-left: 0px;
}
.services-qlinks ul li{
    list-style: none;
    margin-bottom: 14px;
}
.services-qlinks ul li a{
    color:#000000;
    font-size: 16px;
    font-weight: 500;
}

/*----------- Services Quick Links -------------*/

/*--------------- Inner Header -----------------*/

.inner-hd{
    background: url("../images/inner-banner.webp") center center no-repeat;
    padding-top: 58px;
}
.p-top-4{
    margin-top: 0;
}
.p-top-5{
    margin-top: 0;
    margin-bottom: 30px;
}
.pg-head{
    font-size: 50px;
    font-weight: 900;
    color:#ed2354;
    text-align: center;
    padding-bottom: 30px;
}
.pg-head span{
    border-left: 12px solid #ffffff;
    padding: 0px 20px;
}
.countdown-2{
    background: #e7e7e7;
    padding: 20px 10px 6px 20px;
    position: relative;
    top:-50px;
}
.tag-red-2 {
    color: #f71d52;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 4px;
    line-height: 29px;
    text-align: right;
}
.discount-2 {
    color: #000000;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 12px;
    line-height: 20px;
}
.discount-2 span {
    color: #f71d52;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 6px;
    line-height: 20px;
    display: block;
    text-align: left;
}
.timer {
    color: #000000;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}
.timer-2 div {
    padding-bottom: 0px;
    border-radius: 3px;
    background: none;
    border-radius: 3px;
    display: inline-block;
    font-size: 26px;
    font-weight: 400;
    width: 49px;
}
.timer-2 .smalltext-2 {
    color: #f71d52;
    font-size: 14px;
    font-weight: 500;
    display: block;
    padding: 0;
    width: auto;
    text-transform: uppercase;
    line-height: 20px;
}


/*--------------- Inner Header -----------------*/

/*---------------- Bottom Tags -----------------*/

.br-t{
    border-top:1px solid #dedede;
}
.br-r{
    border-right:1px solid #dedede;
    padding-top: 20px;
    padding-bottom: 20px;
}
.br-l{
    padding-top: 20px;
    padding-bottom: 20px;
}
.tag-hd{
    font-size: 30px;
    color:#ed2354;
    font-weight: 600;
}
.tag-desc{
    color:#999999;
}
.support{
    background: url("../images/247-support.webp") right center no-repeat;
    padding: 20px 150px 20px 0px;
    margin-right: 30px;
    text-align: right;
}
.guaranteed{
    background: url("../images/guaranteed-payment.webp") left center no-repeat;
    padding-left: 150px;
    padding: 20px 0px 20px 150px;
    margin-left: 30px;
}

/*---------------- Bottom Tags -----------------*/

/*---------------- Price Table -----------------*/

.pr-bg{
    background: url("../images/pricing-bg.svg") top center no-repeat;
    width: 100%;
    min-height: 112px;
}
.rd-head {
    background: #ed2354;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: 22px 23px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    display: inline-block;
    min-width: 220px!important;
}
.white-pr-box{
    border-bottom: 1px solid #eae8e8;
    border-left: 1px solid #eae8e8;
    border-right: 1px solid #eae8e8;
    padding: 20px;
}
.pr-dscnt {
    font-size: 46px;
    color: #ed2354;
    font-weight: 600;
    margin-top: -65px;
    margin-bottom: 30px;
}
.pr-dscnt span{
    font-size: 27px;
}
.price-hd-inner{
    font-size: 15px;
    color:#ed2354;
    font-weight: 600;
    margin-bottom: 30px;
}
.feature-item-pr {
    display: inline-block;
    vertical-align: top;
    padding-right: 20px;
}
.days-cap {
    font-size: 14px;
    color: #989898;
    font-weight: 600;
    padding-bottom: 10px;
    display: inline-block;
}
.feature-item-pr span {
    line-height: 16px;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 8px;
}
.feature-item-pr span i {
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    font-style: normal;
    color:#ed2354;
}
.feature-item-pr span strong {
    line-height: 22px;
    font-weight: 600;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.feature-item-pr span strong::before {
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #000000;
    top: calc(50% - 1px);
    left: 0;
}
.feature-item-pr b {
    padding: 0px;
    color: #030431;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.feature-item-pr b::before {
    display: block;
    position: absolute;
    content: "";
    width: 82px;
    height: 35px;
    background-repeat: no-repeat;
    background-position: -518px -197px;
    right: -6px;
    top: -14px;
    z-index: -1;
}
.quote-btn{
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 16px;
}
.quote-btn a{
    background:#ed2354;
    font-size: 17px;
    color:#FFFFFF;
    text-align: center;
    border: none;
    border-radius: 5px;
    padding: 12px 22px;
    display: block;
    width: 100%;
}
.quote-btn a:hover{
    background: #f84570;
    color:#fff;
    text-decoration: none;
}
.pt-1{
    padding-top: 40px;
}

/*---------------- Price Table -----------------*/

/*--------------- Order Page -------------------*/

.ord-cont{
    background: #fff;
    padding: 20px;
    border: 1px solid #ebebeb;
    margin-bottom: 30px;
}
.ord-cont-2{
    background: #fff;
    padding: 20px;
    border: 1px solid #ebebeb;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.sd-panel{
    background: #ed2354;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.ord-cont-3{
    background: #fff;
    padding: 20px;
    border: 1px solid #ebebeb;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 40px;
}
.sd-panel-2{
    background: #2dc1dd;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color:#fff;
    text-transform: uppercase;
    padding: 20px 30px;
}
.ord-cont-4{
    background: #fff;
    padding: 40px;
    border: 1px solid #ebebeb;
    margin-top: 40px;
    font-size: 24px;
    font-weight: 400;
    color:#fff;
}
.sd-panel-3{
    background: #2dc1dd;
    text-transform: uppercase;
    padding: 20px 30px;
    font-size: 24px;
    font-weight: 400;
    color:#fff;
}
.summ-grey-box{
    background:#f9f9f9;
    border: 1px solid #d7d7d7;
    padding: 20px;
    margin-top: 30px;
}
.title-big{
    font-size: 24px;
    font-weight: 400;
    color:#000;
}
.title-big span{
    font-size: 24px;
    font-weight: 400;
    color:#aaaaaa;
}
.tab {
    display: none;
    margin-bottom: 10px;
    padding-bottom: 0px;
}
.step {
    margin: 0 5px 25px;
    background-color: #fde4ea;
    border: 1px solid #ed2354;
    display: inline-block;
    padding:0 10px;
    color: #212121;
    width: 32.1%;
}
.step:last-child {
    margin: 0 0px 25px;
}
.step.active {
  background-color: #ed2354;
  border: #fa7091 1px solid;
  border-radius: 0px;
  color: #fff;
}
.step.active p img{
  filter: brightness(250%);
}
.step.active p.heading {
    margin: 0;
}
.step.active p.heading{
    color: #fff;
    font-size: 14px;
}
.step p.heading {
    text-align: center;
    font-size: 14px;
    margin: 0;
}
.step p {
    text-align: center;
    margin: 0;
    color: #000;
    font-size: 15px;
    display: inline-block;
    padding: 10px 0;
}
.order-page .list-unstyled{
    font-size: 16px;
}
.order-page #code{
    width: 86px;
}
.order-page #phone{
    width: 379px;
}
.order-page .form-control {
    display: inline-block;
    height: 34px;
    padding: 20px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ebebeb;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.order-page textarea.form-control {
    height: auto;
}
.order-page input.invalid {
    background-color: #ffdddd;
}
.order-page .form-control#DeadlineDate{
    display: inline-block;
    width: 63%;
    background-position: 10px 12px;
    background-size: 15px;
    padding-top: 0px;
}
.order-page .form-control#ccode{
    display: inline-block;
    background-image: url(../images/calender-icon2.png);
    background-position: 10px 12px;
    background-size: 15px;
}
.order-page .form-control#hours{
    display: inline-block;
    width: 97%;
    background-image: url(../images/calender-icon2.png);
    background-position: 10px 12px;
    background-size: 15px;
}
.order-page .form-control#Contact{
    display: inline-block;
    background-image: url(../images/calender-icon2.png);
    background-position: 10px 12px;
    background-size: 15px;
}
.order-form{
    padding: 0px;
}
.deadline-pad{
    padding-top: 27px;
}
.prev-btn{
    color: #fff;
    padding: 10px 42px!important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
	font-weight:400;
    margin: 4px 2px;
    cursor: pointer;
	background: #7f7f7f;
	border:none;
	border-radius:5px;
}
.prev-btn:hover{
	color:#FFF;
	text-decoration:none;
    background: #969696;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.edt-btn{
    color: #7f7f7f;
    padding: 9px 20px!important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
	font-weight:400;
    margin: 4px 2px;
    cursor: pointer;
	background: #ffffff;
	border:1px solid #7f7f7f;
	border-radius:5px;
}
.edt-btn:hover{
	color:#969696;
    border:1px solid #969696;
	text-decoration:none;
    background: #ffffff;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.yellow-btn{
    color: #FFF;
	padding: 10px 42px!important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
	font-weight:400;
    margin: 4px 2px;
    cursor: pointer;
	background: #ed2354;
	border:none;
	border-radius:5px;float: right;
}
.yellow-btn:hover{
	color:#FFFFFF;
	text-decoration:none;
    background: #f84570;
	border:none;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.summ-hd{
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 30px;
    color:#ed2354;
}
.summ-hd-2{
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 20px;
    color:#ed2354;
}
.summ-hd-2 span{
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    margin-top: 10px;
    color:#030431;
    display: block;
}
.thanks-txt{
    color: #989898;
    padding: 20px;
    border-top: 1px solid #ebebeb;
}
.thanks-txt .summary-check img{
    max-width: 80px;
    max-height: 80px;
    display: table;
    margin: 10px auto 20px auto;
}
.thanks-txt .thx-big-txt{
    font-size: 35px;
    font-weight: 300;
    padding-bottom: 10px;
}
.thanks-txt .thx-small-txt{
    font-size: 14px;
    font-weight: 300;
}
.total-gap{
    width: 100%;
    padding: 20px;
}
.big-total{
    color:#fff;
    font-size: 24px;
    font-weight: 700;
    margin-top: 4px;
}
.sml-total{
    font-size: 24px;
    font-weight: 200;
    color:#fff;
}
.ord-summary{
    color:#989898;
    font-weight: 300;
}
.ord-summary li{
    margin-bottom: 25px;
}
.ord-summary-2 li{
    margin-top: 0px;
}
.act-pr{
    float: right;
    font-size: 16px;
    font-weight: 500;
    color:#030431;
}
.disc-pr{
    float: right!important;
    font-size: 16px;
    font-weight: 500;
    color:#ed2354;
}
.ord-id{
    color:#989898;
    margin-bottom: 20px;
}
.id-pr{
    float: right;
    font-size: 20px;
    font-weight: 600;
    color:#030431;
}
.title-id{
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.title-pr{
    display: block;
    font-size: 20px;
    font-weight: 600;
    color:#030431;
}
.sm-pb{
    margin-bottom: 10px;
}
.summary-label{
    color: #aaaaaa;
    font-weight: 400;
    font-size: 14px;
    display: block;
}
.summary-label-2{
    color: #aaaaaa;
    font-weight: 400;
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}
.summary-label-2:last-child{
    margin-bottom: 0px;
}
.summary-label-2 span{
    color: #000;
    margin-left: 20px;
}
.summary-val{
    color: #000;
    font-weight: 400;
    font-size: 14px;
    display: block;
}
.sml-red{
    color:#A0A0A0;
    font-style: italic;
    font-size: 13px;
}
.pay-logos img{
    display: table;
    margin: 30px auto auto auto;
}
.p-order{
    padding-left:14px;
    padding-right:14px;
}
.sm-pb{
    margin-top: 30px;
}

/*--------------- Order Page -------------------*/

/*---------------- Services --------------------*/

.serv-pg-panel img{
    display: table;
    margin: auto auto 30px auto;
}
.serv-title-2{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color:#ffffff;
}
h2{
    color:#ed2354;
    font-size: 28px;
    text-align: center;
    font-weight: 700;
}
h3{
    font-size: 19px;
    color:#ed2354;
    margin-bottom: 20px;
}
.blck-mba1{
    color:#000000d4;
}

h4{
    font-size: 18px;
    color:#2dc1dd;
    margin-bottom: 20px;
}
.mt-1{
    margin-top: 40px;
}
.service-pricing{
    display: flex;
    border:#eaeaea 1px solid;
}
.serv-pr .col-md-12{
    padding-left: 0px;
    padding-right: 0px;
}
.br-4{
    background:#ed2354;
    border-right:#eaeaea 1px solid;
}
.abt-p{
    padding: 20px;
}
.s-pr{
    text-align: center;
    display: table;
    margin: auto;
    padding: 20px;
}
.s-pr b{
    font-size: 20px;
    font-weight: 400;
    display: block;
    margin-bottom: 10px;
    color:#ffffff;
}
.s-pr strong{
    font-size: 32px;
    font-weight: 800;
    color:#ed2354;
}
.white-box-2{
    background: #FFFFFF;
    padding: 30px;
    border-radius: 6px;
    border: 1px solid #eaeaea;
}
.feat-hd{
    color:#ed2354;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}
.fea-nm{
    margin-top: 3px;
    font-size: 15px;
    font-weight: 300;
}
.ts-2{
    font-size: 18px;
}
.fea-free{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
    color:#ed2354;
    display: table;
}
.fea-free span{
    background: #fde4ea;
    border: 1px solid #ed2354;
    padding: 5px 13px;
    margin: auto 0px auto auto!important;
}
.fea-gap{
    height: 1px;
    border-bottom: 1px solid #fde4ea;
    padding: 8px;
    margin-bottom: 18px;
}
.order-offer{
    color:#ffffff;
    font-size: 24px;
    text-align: center;
}
.counter-bg-2{
    background: url("../images/counter-bg.webp") top center no-repeat;
    padding-top: 80px;
    padding-bottom: 80px;
}
.white-btn{
    margin-top: 60px;
}
.white-btn a{
    background:#FFFFFF;
    font-size: 20px;
    color:#ed2354;
    text-align: center;
    border: none;
    border-radius: 5px;
    padding: 16px 36px;
}
.white-btn a:hover{
    background: #f84570;
    color:#fff;
    text-decoration: none;
}
.fs-tw{
    font-size: 30px;
    line-height: 37px;
    font-weight: 400;
}

/*---------------- Services --------------------*/

/*------------------ Blog ----------------------*/

.blog-box{
    background: #ffffff;
    padding: 20px;
    box-shadow: 5px 10px 18px #dadada;
    margin-bottom: 30px;
    transition: all ease-in-out 0.2s;
}
.blog-box:hover{
    background: #fafafa;
    transition: all ease-in-out 0.2s;
}
.blog-box img{
    margin-bottom: 40px;
}
.blog-date, .dt-tm-stats{
    color:#999999;
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 10px;
}
.dt-tm-stats{
    color:#999999;
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 50px;
}
.blog-title-window, .blog-title-window a {
    font-size: 20px;
    color: #ed2354;
    font-weight: 600;
    padding-bottom: 30px;
    min-height: 90px;
}
.blog-title-page h1 {
    font-size: 34px;
    text-align: left;
    margin-bottom: 30px;
}
.blog-title-page, .blog-title-page a{
    font-size: 43px;
    font-weight: 600;
    color:#01c7e2;
}
.btn-blog{
    margin-bottom: 14px;
}
.btn-blog a{
    border: 0px;
    background: #ed2354;
    border-radius: 4px;
    color:#FFFFFF;
    font-size: 17px;
    padding: 12px 24px;

}
.btn-blog a:hover{
    background: #f84570;
    color:#FFFFFF;
    text-decoration: none;
}
.abb {
    display:none;
}
.blog-load{
    margin-top: 50px;
}
.blog-load a{
    color: #fff!important;
    background: #2dc1dd!important;
    text-align: center!important;
    padding: 14px 28px;
    font-size: 17px;
    display: table;
    margin: auto;
    border-radius:5px;
}
.bl-img{
    margin-bottom: 50px;
}
.sep-side{
    min-height: 175px;
}
.sticky-sidebar{
    position: -webkit-sticky;
    position: sticky;
    top: 10rem!important;
}
.gg ul{
    padding-left: 0px;
}
.gg ul li{
    font-size: 15px;
    list-style: none!important;
    line-height: 34px;
}
.df{
    display: flex;
    margin-top: 70px;
}

/*------------------ Blog ----------------------*/

/*----------------- Contact --------------------*/

.contact-cont{
    display: flex;
}
.blue-bg{
    background: #2dc1dd;
    padding: 40px;
}
.whitebg{
    background: #ffffff;
    padding: 40px;
    border:1px solid #eaeaea;
}
.contact-title{
    font-size: 33px;
    color:#ffffff;
    font-weight: 500;
    margin-bottom: 50px;
}
.con-info, .con-info a{
    color:#ffffff;
    font-size: 20px;
}
.mn-con{
    margin-bottom: 40px;
    display: flex;
}
.mn-con .fa-phone, .mn-con .fa-map-marker, .mn-con .fa-paper-plane{
    color:#b5f6ff;
    font-size: 30px;
    margin-right: 20px;
}
.info-b{
    display: flex;
}
.whitebg label{
    text-transform: uppercase;
}
.whitebg .form-group input, .whitebg .form-group textarea{
    border-top: 1px solid #ffffff!important;
    border-left: 1px solid #ffffff!important;
    border-right: 1px solid #ffffff!important;
}
.whitebg .form-group textarea{
    min-height: 200px;
}
.contact-btn{
    background:#2dc1dd;
    color:#FFFFFF;
    text-align: center;
    border: none;
    border-radius: 4px;
    padding: 12px 34px;
    font-size: 17px;
    margin-top: 30px;
}
.contact-btn:hover{
    background: #51cee6;
    color:#fff;
    text-decoration: none;
}
.reset-btn{
    background:#7f7f7f;
    color:#FFFFFF;
    text-align: center;
    border: none;
    border-radius: 4px;
    padding: 12px 34px;
    font-size: 17px;
    margin-top: 30px;
}
.reset-btn:hover{
    background: #888787;
    color:#fff;
    text-decoration: none;
}

/*----------------- Contact --------------------*/

/*------------------ Footer --------------------*/

.ft-bg{
    background: #2c2c2c;
    padding-top: 100px;
    padding-bottom: 100px;
}
.ft-head{
    color:#fff;
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 20px;
}
.ft-bg, .ft-bg p, .ft-bg a{
    color:#fff;
}
.ft-con{
    display: block;
    margin-bottom: 10px;
}
.ft-con, .ft-con a{
    color:#fff;
    font-size: 13px;
}
.ft-con .fa-map-marker, .ft-con .fa-phone, .ft-con .fa-paper-plane{
    color:#fff;
    margin-right: 10px;
}
.badges{
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.badges-m{
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    display: none;
}
.copyright{
    border-top:1px solid #4c4c4c;
    background: #2c2c2c;
    padding-top: 10px;
    padding-bottom: 10px;
}
.copyright, .copyright a{
    color:#ffffff;
}

/*------------------ Footer --------------------*/

.mob{
    display: none;
}
.ques{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
}
.ques span{
    display: block;
}
.optns a{
    color:#ed2354;
}
.prob-img{
    margin-bottom: 30px;
}
.nav-tabs > li > a{
    background:#ed2354;
    color:#ffffff;
    padding: 25px 107px;
}
.nav-tabs > li > a:hover{
    background:#1ca3bd;
}
.ft-bg ul{
    padding-left: 0px;
}
.ft-bg ul li{
    list-style: none;
    line-height: 30px;
}
.ft-bg ul li a:hover{
    text-decoration: underline!important;
}
.serv-desc-2{
    text-align: left;
    line-height: 24px;
    margin-top: 20px;
    min-height: 190px;
}
.st-box{
    background: #ffffff;
    padding: 20px;
    min-height: 350px;
    border: 1px solid #ebebeb;
}

.bb-1{
    background: #fbfbfb;
    padding-top: 60px;
    padding-bottom: 60px;
}
.free-features-content {
    text-align: center;
    padding: 6px 0 5px 0;
}
.feature-item {
    border: 1px solid #eaeaea;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: inline-block;
    vertical-align: top;
    width: 15.2%;
    margin: 0 .5%;
    position: relative;
}
.feature-item-title {
    height: 70px;
    display: flex;
}
.feature-item p {
    background-color: #fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    border-bottom: 1px solid #eaeaea;
    padding: 0 10px;
    width: 100%;
    margin-bottom: 0px;
}
.feature-item-content {
    background-color: #fbfbfb;
    text-align: left;
}
.feature-item span {
    display: inline-block!important;
    vertical-align: top;
    line-height: 14px;
    padding-left: 12px;
    padding-top: 7px;
    padding-bottom: 7px;
}
.feature-item span i {
    display: inline-block;
    vertical-align: middle;
    font-style: normal;
}
.feature-item span i span{
    margin-top: -9px;
    margin-right: 5px;
    margin-bottom: -9px;
}
.feature-item span strong {
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.feature-item b {
    background:#fde4ea;
    padding: 10px 20px;
    display: inline-block!important;
    vertical-align: top;
    color: #ed2354;
    line-height: 14px;
    font-weight: 500;
    text-transform: uppercase;
    z-index: 1;
    width: 40%;
    text-align: center;
    position: absolute;
    right: 0;
    border: 1px solid #ed2354;
}
.feature-item span strong::before {
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #fb8a44;
    top: calc(50% - 1px);
    left: 0;
}
.feature-item b::before {
    display: block;
    position: absolute;
    content: "";
    width: 82px;
    height: 35px;
    background-repeat: no-repeat;
    background-position: -518px -197px;
    right: -6px;
    top: -14px;
    z-index: -1;
}
.free-txt{
    text-align: center;
    color:#000;
    padding-top: 50px;
    font-size: 28px;
}
.free-txt strong span{
    font-weight: normal;
    color:#858585;
}
.free-txt strong strike{
    color:#F00;
}
.free-txt b{
    color:#063159;
    text-transform: uppercase;
    font-weight: normal;
}
.ts .nav-pills > li > a {
    border-radius: 4px;
    padding: 20px;
    border: 2px solid #d0d0d0;
    color:#ed2354;
    background: #ffffff;
}
.ts .nav-pills > li{
    margin-bottom: 10px;
}
.ts .tab-pane{
    padding: 20px 20px 10px 20px;
}
.ts ul{
    padding-left: 0px;
    margin-bottom: 0px;
}
.ts p{
    font-size: 15px!important;
    color: #000;
}
.ts .bg-01{
    background: #ebebeb;
    padding-top: 30px;
    padding-bottom: 20px;
    
}
.ts .bg-02{
    border: 1px solid #ebebeb;
}
.ts .bg-02 ul li{
    list-style: none;
}
.tabs-img img{
    display: table;
    margin: auto auto 10px auto;
}
.ts .tab-content{
    color: #696969;
    margin-top: 0px;
    padding-top: 0px;
    border-top:none;
}
.ts .nav-pills > li.active > a, .ts .nav-pills > li.active > a:hover{
    background:#ed2354;
    color:#fff;
}
.aa{
    display: flex;
}
div.ex1 {
    width: 100%;
    height: 500px;
    overflow: auto;
}

/*-------- Free Features ----------*/

@media(max-width:450px){
.aa{
    display: block;;
}
    .nav-tabs{
    display: block!important;
        width: 100%;
        padding: 10px;
}
.mn-con .fa-phone, .mn-con .fa-map-marker, .mn-con .fa-paper-plane{
    font-size: 14px;
}
.con-info, .con-info a {
    font-size: 14px;
}
.blue-bg {
    padding: 20px;
}
.contact-cont{
    display: block;
}
.df {
    display: block;
}
.container-div {
    display: flex;
    flex-direction: column;
}

.bottom-div {
    order: 1;
}

.top-div {
    order: 2;
}
.sep-side{
    min-height: 0px;
}
.m-menu{
    display: none;
}
.navbar{
    min-height: 0px;
    margin-bottom: 0px;
}
.navbar-nav{
    margin: 0px;
}
.head-collapse{
    display: block;
}
.btns-hd{
    display: table;
    margin: 30px auto;
}
.sr-img img{
    max-height: 100px;
    max-width: 100px;
}
.counter-bg{
    background-size: cover;
    padding-bottom: 60px;
}
    .p-2{
        padding-top: 30px;
    }
.p-3, .p-2{
    margin-bottom: 0px;
}
.white-box{
    margin-bottom: 20px;
}
.p-right-rev{
    padding-right: 16px;
}
.p-img{
    margin-bottom: 20px;
}
.three-col{
    margin-bottom: 40px;
}
.service-block {
    width: 194px;
    height: 194px;
    display: table;
    margin: auto;
}
.service-block-sub {
    width: 180px;
    height: 180px;
    display: table;
    margin: auto;
}
.hd-form, .countdown {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-left: 10px;
    margin-right: 10px;
}
.txt-big {
    text-align: center;
    font-size: 25px;
    line-height: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
.txt-small {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.p-top-2 {
    margin-top: 0px;
}
.p-top-3 {
    margin-top: 130px;
}
.review-bg{
    background-position: right -653px bottom -1240px;
}
.demo-inner-content {
    background-image: url("../images/banner-m.webp") center top;
}
.headline-3{
    margin-bottom: 100px;
}
.badges{
    display: none;
}
.badges-m{
    display: block;
}
.glossymenu a.menuitem {
    padding-right: 45px;
}
.br-t {
    padding-top: 30px;
    padding-bottom: 30px;
}
.br-r{
    border-right:0px;
    margin-bottom: 0px;
}
.support{
    background: url("../images/247-support.webp") top center no-repeat;
    padding: 130px 0px 1px 0px;
    margin-right: 0px;
    text-align: center;
}
.guaranteed{
    background: url("../images/guaranteed-payment.webp") top center no-repeat;
    padding-left: 150px;
    padding: 130px 0px 1px 0px;
    margin-left: 0px;
    text-align: center;
}
.countdown-2{
    background: #fafafa;
    padding: 20px 10px 46px 20px;
    position: relative;
    top:-90px;
}
.tag-red-2 {
    color: #f71d52;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 8px;
    line-height: 21px;
    text-align: right;
}
.discount-2 {
    color: #000000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 12px;
    line-height: 20px;
}
.discount-2 span {
    color: #f71d52;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 6px;
    line-height: 6px;
    display: block;
    text-align: left;
}
.timer {
    color: #000000;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}
.timer-2{
    margin-top: 70px;
}
.timer-2 div {
    width: 53px;
}
.timer-2 .smalltext-2 {
    font-size: 16px;
}
.pg-head{
    font-size: 30px;
}
.p-top-4 {
    margin-top: 160px;
}
.mob{
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 120px;
}
.desk{
    display: none;
}
.content-container {
    padding-top: 50px;
}
.abc{
    display: block!important;
    text-align: center;
}
.abc:last-child{
    margin-bottom: 20px;
}
.inner-hd{
    background-size: cover;
}
.pr-bg{
    min-height: 123px;
}
.pb-2{
    margin-bottom: 30px;
}
.t-mt{
    padding-top: 50px!important;
}
.discount {
    text-align: left;
}
.tag-red {
    font-size: 18px;
}
.timer div {
    width: 58px;
}
.step {
    display: block;
    width: 100%;
}
.ord-cont-2 {
    margin-top: 40px;
}
.p-img {
    margin-top: 40px;
}
.btns-hd-3{
    margin-top: 20px;
}
.fa-bars{
    color:#fff;
}
.navbar-default .navbar-collapse{
    background: rgba(0, 0, 0, 0.8);
}
.b-0 .container-fluid, .b-0 .container{
    padding-left: 0px;
    padding-right: 0px;
}

}



.ben-sepr{
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.ben-head{
    color:#ed2354;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
}
.ben-desc{
    color:#444;
    font-size: 15px;
}
.mod-btn-log {
    border-radius: 5px;
    font-size: 17px;
    background: #ed2354;
    box-shadow: none;
    outline: none;
    color:#fff;
    border: 1px solid #ebebeb;
    padding: 14px 24px;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 60px;
}
.mod-btn-log:hover{
    background:#f84570;
    color:#fff;
    text-decoration: none;
}
.log-right{
    text-align: right;
}
.log-right a, .log-right a:hover{
    color:#ed2354;
}
.usr-reg-log{
	text-align:right;
	margin:10px;
}
.usr-reg-log a{
	color:#ed2354;
}
.grey-box-form{
	background:#f5f5f5;
	padding:50px;
}
.log-sepr{
    border-left: 1px solid #ebebeb;
    padding: 0 40px;
}
.col-log{
	display:flex;
}

@media(max-width:550px){
.col-log{
	display:block;
}
}
.reg-ben-row{
    background:#f6c2cf;
    border: 6px dashed #ed2354;
    border-radius: 20px;
    padding: 30px;
    margin-top: 36px;
}
.reg-ben-head{
    color:#ed2354;
    font-size: 26px;
    font-weight: 600;
}
.reg-ben-desc{
    color:#434343;
    font-size: 18px;
}
@media(max-width:550px){
.coll {
    display: flex;
    flex-direction: column;
}
.b-coll {
    order: 2;
}
.t-coll {
    order: 1;
}
.dp-1{
    padding-left: 40px;
    padding-right: 40px;
}
.navbar-default {
  min-height: 1px;
}
.menu-overlay{
    height: auto;
}
}
@media only screen and (min-width: 992px) and (max-width: 1200px){
.navbar-default .navbar-nav > li > a {
    font-size: 13px!important;
}
.nav > li > a {
    padding: 10px 14px;
}
.rev-nw-hd-lite {
    font-size: 11px!important;
}
.rev-nw-hd-title {
    font-size: 17px!important;
}
.rev-nw-hd-rating {
    font-size: 26px!important;
    padding-top: 10px!important;
}
.rev-nw-hd-t {
    font-size: 12px!important;
}
.white-bar-bx .slick-slide {
    margin: 0px 14px;
}
.tag-disc-nw-hd {
  margin-top: 7px!important;
}
#the-final-countdown p {
    font-size: 23px!important;
}
.countdown-nw-hd {
    padding: 3px!important;
}
.sr-desc {
    min-height: 172px!important;
}
.p-top-4 {
    margin-top: 20px!important;
}
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
.navbar-default .navbar-nav > li > a {
    font-size: 10px!important;
}

.nav > li > a {
    padding: 10px 10px;
}
.btns-rw-nw {
    display: table;
    margin: 50px auto 50px auto;
}
.rev-nw-hd-lite {
    font-size: 13px!important;
}
.p-top-4 {
    margin-top: 20px!important;
}
}

@media only screen and (max-width: 992px) {
    .top-social{
        display: none;
    }
    .desk{
        display: none;
    }
}
@media only screen and (max-width: 768px) {
.head-collapse{
    display: block;
}
.m-logo-2{
    display: block;
}
.m-logo{
    display: none;
}
.navbar-default {
    min-height: 1px;
}
}
@media only screen and (max-width: 355px) {
    .btn-course a, .btn-learn a{
        display: block;
        width: 100%;
    }
    .btn-course a{
        margin-bottom: 10px;
    }
    .top-bar-nw-hd .creds-2{
        display: none!important;
    }
}

@media only screen and (max-width: 390px) {
.steps-head-1 span, .steps-head-2 span, .steps-head-3 span {
  font-size: 20px;
}
}

@media only screen and (max-width: 768px) {
.faq-tabs .nav-tabs > li {
  width: 100%;
  text-align: center;
}
}

@media only screen and (min-width: 356px) and (max-width: 369px) {
.btns-rw-nw .btn-course, .btns-rw-nw .btn-learn {
  display: block !important;
}
.btns-rw-nw .btn-learn a {
  width: 100% !important;
  display: block !important;
}
.btn-learn {
  margin-top: 20px !important;
}
}

@media only screen and (max-width: 768px) {
    input[type="date"]:not(.has-value):before{
  color: black;
  content: attr(placeholder);
}
}
.bl-pdf-img {
    background: #0378a3;
    border: 3px solid #0378a3;
    max-width: 70%;
    display: table;
    margin: 30px auto;
}


@media only screen and (max-width: 550px) {
    .trust-cover{
    background: #2f2a1e;
    
}
.writers-home-bg{
    background: #2f2a1e;
    padding-top: 60px;
    padding-bottom: 60px;
}

.counter-bg{
    background: #514346;
    background-size: cover;
}

.header-nw {
    background: #2d292f;
    padding-top: 20px;
    background-size: cover;
    
}

}
